# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

bin/main
.idea

config/database.toml
config/development.conf
config/test.conf
config/production.conf

.env

log/*.log

coverage.out
coverage.html

.DS_Store
